@page
@model MyApp.Namespace1.CreateModel
@{
}
<div>
    <h1>Registrar nuevo Cliente</h1>
    <hr>
    <form action="" method="post">
    <input type="text" asp-for="Cli.Nombres" placeholder="Nombre">
    <br>
    <input type="text" asp-for="Cli.Apellidos" placeholder="Apellidos">
    <br>
    <input type="text" asp-for="Cli.DNI" placeholder="DNI">
    <br>
    <button type="submit">Guardar</button>
    </form>
</div>